USE [master]
GO
/****** Object:  Database [Tenders]    Script Date: 12.02.2024 12:22:44 ******/
CREATE DATABASE [Tenders]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tenders', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tenders.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tenders_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tenders_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tenders].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tenders]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 12.02.2024 12:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
	[link] [text] NOT NULL,
	[id_tender] [int] NOT NULL,
 CONSTRAINT [PK_documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenders]    Script Date: 12.02.2024 12:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tender_number] [nvarchar](20) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[tender_view_url] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tenders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenders_documents]    Script Date: 12.02.2024 12:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenders_documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_tender] [int] NOT NULL,
	[id_document] [int] NOT NULL,
 CONSTRAINT [PK_tenders_documents] PRIMARY KUSE [master]
GO
/****** Object:  Database [Tenders]    Script Date: 12.02.2024 12:22:44 ******/
CREATE DATABASE [Tenders]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tenders', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tenders.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tenders_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tenders_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tenders].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tenders]
GO
/****** Object:  Table [dbo].[documents]    Script Date: 12.02.2024 12:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[documents](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [text] NOT NULL,
	[link] [text] NOT NULL,
	[id_tender] [int] NOT NULL,
 CONSTRAINT [PK_documents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenders]    Script Date: 12.02.2024 12:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tender_number] [nvarchar](20) NOT NULL,
	[customer_name] [nvarchar](50) NOT NULL,
	[tender_view_url] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tenders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_tenders] FOREIGN KEY([id_tender])
REFERENCES [dbo].[tenders] ([id])
GO
USE [master]
GO
EY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[documents]  WITH CHECK ADD  CONSTRAINT [FK_documents_tenders] FOREIGN KEY([id_tender])
REFERENCES [dbo].[tenders] ([id])
GO
ALTER TABLE [dbo].[tenders_documents]  WITH CHECK ADD  CONSTRAINT [FK_tenders_documents_documents] FOREIGN KEY([id_document])
REFERENCES [dbo].[documents] ([id])
GO
ALTER TABLE [dbo].[tenders_documents] CHECK CONSTRAINT [FK_tenders_documents_documents]
GO
ALTER TABLE [dbo].[tenders_documents]  WITH CHECK ADD  CONSTRAINT [FK_tenders_documents_tenders] FOREIGN KEY([id_tender])
REFERENCES [dbo].[tenders] ([id])
GO
ALTER TABLE [dbo].[tenders_documents] CHECK CONSTRAINT [FK_tenders_documents_tenders]
GO
USE [master]
GO
